<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="analytics:opengoals"
               type="CoreyAndRick.Feature.Tracking.Commands.OpenTreeListGoals, CoreyAndRick.Feature.Tracking" />
      <command name="analytics:opentrackingfield"
               type="CoreyAndRick.Feature.Tracking.Commands.OpenTreeListTrackingField, CoreyAndRick.Feature.Tracking" />
    </commands>
  </sitecore>
</configuration>
