<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Support.Shell.Applications.ContentEditor" assembly="Sitecore.Support.205766" prefix="fixcontent" />
    </controlSources>

    <unicorn>
      <configurations>
        <configuration name="SitecoreSupport.205766"
                       extends="Foundation.Serialization.Base"
                       description="Items for Sitecore Support patch 205766">
          <predicate>
            <include name="FieldTypes.Treelist" database="core" path="/sitecore/system/Field types/List Types/Treelist" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
