<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="sitecore">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Content-Security-Policy"
               xdt:Transform="Remove"
               xdt:Locator="Match(name)" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <system.web>
    <compilation targetFramework="4.8"
                 xdt:Transform="SetAttributes" />
    <customErrors mode="Off"
                  xdt:Transform="SetAttributes" />
    <httpRuntime targetFramework="4.8"
                 xdt:Transform="SetAttributes" />
  </system.web>
</configuration>
